<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/main.css" />
        <script data-main="javascripts/base" src="javascripts/libs/require/require.js"></script>
        <script src="/javascripts/require-config.js"></script>
    </head>
    <body>
        {{{body}}}
        {{> example }}
    </body>
</html>